### Aspect {hdg hdg_1}

The aspect object contrains an element to a specific aspect ratio based on the width of the container (`block`) or the current font size (`inline`). Background images will scale. May also be used to wrap responsive iframe, svg, or video elements.

#### Block {hdg hdg_2}

<div class="grid">
	<div class="grid-col_1of4">
		<div class="aspect aspect_block">
			<svg class="aspect-bd">
				<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#logo-tall"></use>
			</svg>
		</div>
		1x1
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_block aspect_block_4x3">
			<svg class="aspect-bd">
				<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#logo-tall"></use>
			</svg>
		</div>
		4x3
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_block aspect_block_16x9">
			<svg class="aspect-bd">
				<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#logo-tall"></use>
			</svg>
		</div>
		16x9
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_block aspect_block_3x1">
			<svg class="aspect-bd">
				<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#logo-tall"></use>
			</svg>
		</div>
		3x1
	</div>
</div>

<div class="grid">
	<div class="grid-col_1of4">
		<div class="aspect aspect_block"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		1x1
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_block aspect_block_4x3"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		4x3
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_block aspect_block_16x9"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		16x9
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_block aspect_block_3x1"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		3x1
	</div>
</div>

<div class="grid">
	<div class="grid-col_1of4">
		<div class="aspect aspect_block m-aspect_lb guide-fill"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		1x1, letterbox
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_block aspect_block_4x3 m-aspect_lb guide-fill"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		4x3, letterbox
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_block aspect_block_16x9 m-aspect_lb guide-fill"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		16x9, letterbox
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_block aspect_block_3x1 m-aspect_lb guide-fill"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		3x1, letterbox
	</div>
</div>

#### Inline {hdg hdg_2}

<div class="grid">
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline">
			<svg class="aspect-bd">
				<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#logo-tall"></use>
			</svg>
		</div>
		1x1
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline aspect_inline_4x3">
			<svg class="aspect-bd">
				<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#logo-tall"></use>
			</svg>
		</div>
		4x3
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline aspect_inline_16x9">
			<svg class="aspect-bd">
				<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#logo-tall"></use>
			</svg>
		</div>
		16x9
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline aspect_inline_3x1">
			<svg class="aspect-bd">
				<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#logo-tall"></use>
			</svg>
		</div>
		3x1
	</div>
</div>

<div class="grid">
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		1x1
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline aspect_inline_4x3"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		4x3
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline aspect_inline_16x9"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		16x9
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline aspect_inline_3x1"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		3x1
	</div>
</div>

<div class="grid">
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline m-aspect_lb guide-fill"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		1x1, letterbox
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline aspect_inline_4x3 m-aspect_lb guide-fill"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		4x3, letterbox
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline aspect_inline_16x9 m-aspect_lb guide-fill"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		16x9, letterbox
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline aspect_inline_3x1 m-aspect_lb guide-fill"
			style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
		</div>
		3x1, letterbox
	</div>
</div>
