<!doctype html>
<html class="no-js" lang="en">
<head>

	<!--
		┌───────────┐
		│   │   │   │ SOUTHTOWNS
		│   │   │   │ CARE CENTER
		└───────────┘

		(c) Southtowns Care Center, Inc.
	-->

	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{#if title}}{{title}} | {{/if}}{{site.title}}</title>

	<link rel="author" href="{{site.canonical}}/humans.txt" />
	<link rel="canonical" href="{{site.canonical}}{{canonical}}" />

	{{#block "styles"}}
		<link rel="stylesheet" href="/assets/css/index.css?v={{package.version}}" />
	{{/block}}

</head>
<body>

	<div class="site">
		<header class="site-hd">
			<h1 itemscope itemtype="https://schema.org/Organization">
				<a href="{{site.canonical}}" itemprop="url">
					<svg><use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#logo-wide"></use></svg>
					<span class="u-visuallyHidden" itemprop="name">{{site.title}}</span>
				</a>
			</h1>
		</header>

		<main class="site-bd">
			{{#block "body"}}{{/block}}
		</main>

		<footer class="site-ft">
			<!-- Organization -->
			<div itemscope itemtype="https://schema.org/Organization">
				<div itemprop="name">Southtowns Care Center, Inc.</div>
				<address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
					<span itemprop="postOfficeBoxNumber">P.O. Box 892</span><br />
					<span itemprop="addressLocality">Hamburg</span>,
					<span itemprop="addressRegion">NY</span>
					<span itemprop="postalCode">14075</span>
				</address>
				<div itemprop="telephone">(716) 508-0660</div>
				<div itemprop="email"><a href="mailto:info@southtownscarecenter.org">info@southtownscarecenter.org</a></div>
			</div>

			{{#embed "vendor/newsletter"}}{{/embed}}
			{{#embed "vendor/sharing"}}{{/embed}}
		</footer>
	</div>

	{{#block "scripts"}}
		<script src="/assets/js/index.js?v={{package.version}}"></script>
	{{/block}}

	{{#embed "vendor/analytics"}}{{/embed}}

</body>
</html>
