<!doctype html>
<html class="no-js">
<head>
	<!--

		┌───────────┐
		│   │   │   │ SOUTHTOWNS
		│   │   │   │ CARE CENTER
		└───────────┘

		(c) Southtowns Care Center, Inc.

	-->

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{ data.site.title }}{{#if file.meta.title}} | {{ file.meta.title }}{{/if}}</title>

	{{#block "styles"}}
		<link rel="stylesheet" href="/assets/styles/main.css?v={{ util.pkg.version }}" />
	{{/block}}
</head>
<body>
	<div class="site">

		<header class="site-hd">
			<div class="sash">
				<div class="sash-bd m-sash-bd_flushB">
					<h1 class="site-logo">
						<a class="aspect aspect_3x1" href="/">
							<svg class="aspect-bd" aria-hidden="true">
								<use xlink:href="/assets/media/images/icons.svg?v={{ util.pkg.version }}#logo-wide"></use>
							</svg>
							<span class="u-visuallyHidden">{{ data.site.title }}</span>
						</a>
					</h1>
				</div>
			</div>
		</header>

		<main class="site-bd">
			{{{block "body"}}}
		</main>

		<footer class="site-ft">
			<div class="sash">
				<div class="sash-bd">

					<div class="bpSm-grid">
						<div class="bpSm-grid-col_1of2">

							{{> forms/email }}

						</div> <!-- /grid-col -->
						<div class="bpSm-grid-col_1of4">

							<div itemscope itemtype="http://schema.org/Organization">
								<div itemprop="name">Southtowns Care Center, Inc. (SCC)</div>
								<address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
									<span itemprop="postOfficeBoxNumber">P.O. Box 892</span><br />
									<span itemprop="addressLocality">Hamburg</span>,
									<span itemprop="addressRegion">NY</span>
									<span itemprop="postalCode">14075</span>
								</address>
								<div itemprop="telephone">(716) 261-5000</div>
								<div itemprop="email"><a href="mailto:alice@southtownscarecenter.org">alice@southtownscarecenter.org</a></div>
							</div>

						</div> <!-- /grid-col -->
						<div class="bpSm-grid-col_1of4 u-vr">

							<p><small>&copy; Southtowns Care Center, Inc.</small></p>

							<div class="addthis_sharing_toolbox"></div>

						</div> <!-- /grid-col -->
					</div> <!-- /grid -->

				</div> <!-- /sash-bd -->
			</div> <!-- /sash -->
		</footer>

	</div> <!-- /site -->

	{{#block "scripts"}}
		<script src="/assets/scripts/main.js?v={{ util.pkg.version }}"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '{{ util.env.GOOGLE_TRACKING_ID }}', 'auto');
			ga('send', 'pageview');
		</script>
		<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55de798ed2afb72f"></script>
	{{/block}}
</body>
</html>
