<!doctype html>
<html class="no-js" lang="en">
<head>

	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

	<title>{{#if title}}{{title}} | {{/if}}{{site.title}}</title>

	<link rel="author" href="{{site.canonical}}/humans.txt" />
	<link rel="canonical" href="{{site.canonical}}{{canonical}}" />

	{{#block "styles"}}
		<link rel="stylesheet" href="/assets/css/index.css?v={{package.version}}" lazyload />
	{{/block}}

</head>
<body class="site">

	<a class="skip" href="#main">Skip to Content</a>

	<header class="site-hd">
		<div class="container">
			<h1>
				<a class="logo" href="/" itemprop="url">
					<span class="logo-bd">
						<span class="aspect aspect_block">
							<svg class="aspect-bd" lazyload>
								<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#logo-tall"></use>
							</svg>
						</span>
					</span>
					<span class="u-visuallyHidden" itemprop="name">{{site.title}}</span>
				</a>
			</h1>

			<nav class="nav {{#if invertNav}}nav_inv{{/if}}" aria-label="primary">
				<a href="/about">About</a>
				<a href="/events">Events</a>
				<a class="nav-btn" href="/donate">Donate</a>
				<a class="nav-icn" href="https://instagram.com/southtownscc" rel="external">
					<span class="aspect aspect_inline">
						<svg class="aspect-bd" lazyload>
							<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#social-instagram"></use>
						</svg>
					</span>
					<span class="u-visuallyHidden">Instagram</span>
				</a>
				<a class="nav-icn" href="https://twitter.com/southtownscc" rel="external">
					<span class="aspect aspect_inline">
						<svg class="aspect-bd" lazyload>
							<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#social-twitter"></use>
						</svg>
					</span>
					<span class="u-visuallyHidden">Twitter</span>
				</a>
				<a class="nav-icn" href="https://facebook.com/southtownscarecenter" rel="external">
					<span class="aspect aspect_inline">
						<svg class="aspect-bd" lazyload>
							<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#social-facebook"></use>
						</svg>
					</span>
					<span class="u-visuallyHidden">Facebook</span>
				</a>
			</nav>
		</div>
	</header>

	<main id="main" class="site-bd">
		<div class="container">
			{{{block "body"}}}
		</div>
	</main>

	<footer class="site-ft">
		<div class="container">
			<div class="bpSm-u-vr bpMd-grid bpMd-m-grid_rev bpLg-grid bpLg-m-grid_rev">
				<section class="bpMd-grid-col_1of3 bpLg-grid-col_1of3">
					<h2 class="hdg hdg_4">Newsletter</h2>
					{{{embed "vendor/mailchimp"}}}

					<h2 class="hdg hdg_4">Share</h2>
					{{{embed "vendor/addthis"}}}
				</section>

				<section class="bpMd-grid-col_1of3 bpLg-grid-col_1of3">
					<h2 class="hdg hdg_4">Around SCC</h2>

					<nav class="vList" aria-label="appendix">
						<a href="/about">About</a>
						<a href="/events">Events</a>
						<a href="/donate">Donate</a>
						<a href="/styleguide">Styleguide</a>
					</nav>
				</section>

				<section class="bpMd-grid-col_1of3 bpLg-grid-col_1of3">
					<h2 class="hdg hdg_4">Contact Information</h2>

					{{{embed "microdata/scc-org"}}}
				</section>

			</div>
		</div>
	</footer>

	{{#block "scripts"}}
		<script src="/assets/js/index.js?v={{package.version}}" async defer></script>
	{{/block}}

	{{{embed "vendor/analytics"}}}

</body>
</html>
