<!doctype html>
<html class="no-js" lang="en">
<head>

	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{#if title}}{{title}} | {{/if}}{{site.title}}</title>

	<link rel="author" href="{{site.canonical}}/humans.txt" />
	<link rel="canonical" href="{{site.canonical}}{{canonical}}" />

	{{#block "styles"}}
		<link rel="stylesheet" href="/assets/css/index.css?v={{package.version}}" />
	{{/block}}

</head>
<body>

	<div class="site">
		<a class="site-skip" href="#main">Skip to Content</a>

		<header class="site-hd">
			<h1 class="site-hd-lft">
				<a class="logo" href="/" itemprop="url">
					<div class="logo-bd">
						<div class="aspect aspect_block">
							<svg class="aspect-bd">
								<use xlink:href="/assets/svg/sprites.svg?v={{package.version}}#logo-tall"></use>
							</svg>
						</div>
					</div>
					<span class="u-visuallyHidden" itemprop="name">{{site.title}}</span>
				</a>
			</h1>

			<div class="site-hd-rgt">
				<nav aria-label="primary">
					<a class="nav {{#if invertNav}}m-nav_inv{{/if}}" href="/about/">About</a>
					<a class="nav {{#if invertNav}}m-nav_inv{{/if}}" href="/events/">Events</a>
					<a class="nav nav_btn" href="/donate/">Donate</a>
				</nav>

				<nav aria-label="social">
					<a class="nav {{#if invertNav}}m-nav_inv{{/if}}" href="https://instagram.com/southtownscc" rel="external">Instagram</a>
					<a class="nav {{#if invertNav}}m-nav_inv{{/if}}" href="https://twitter.com/southtownscc" rel="external">Twitter</a>
					<a class="nav {{#if invertNav}}m-nav_inv{{/if}}" href="https://facebook.com/southtownscarecenter" rel="external">Facebook</a>
				</nav>
			</div>
		</header>

		<main id="main" class="site-bd">
			{{{block "body"}}}
		</main>

		<footer class="site-ft">
			{{{embed "microdata/scc/org"}}}

			{{{embed "vendor/newsletter"}}}
			{{{embed "vendor/sharing"}}}
		</footer>
	</div>

	{{#block "scripts"}}
		<script src="/assets/js/index.js?v={{package.version}}"></script>
	{{/block}}

	{{{embed "vendor/analytics"}}}

</body>
</html>
